<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

__My name is Meenakshi__   
I would like to pursue my carrier in Data science and I want to be data scientist, with specialization in AI assisted ML

_I am interested in data science because I am good in math and I would like to use my math skill to solve real world problem. Data science field offer what I am passionate about._

### In below cell adding two numbers

In [3]:
1+1

2

* Bullet List Item 01

* Bullet List Item 02

* Bullet List Item 03

1. Numbered List Item 01

2. Numbered List Item 02

3. Numbered List Item 03

| Column 01 | Column 02 | Column 03 | Column 04 | Column 05 |

|-----------|-----------|-----------|-----------|-----------|

| Cell 11 | Cell 12 | Cell 13 | Cell 14 | Cell 15 |

| Cell 21 | Cell 22 | Cell 23 | Cell 24 | Cell 25 |